
  .bg-1 { 
    background-color: rgba(223, 223, 223, 0.883); /* Dark Blue */
    color: black;
}
.bg-3 { 
    background-color: #3a3a3a; /* White */
    color:white; 
   }
.add{
  text-align: left;
}
.col-sm-3{
  padding-left:5px;
  padding-top:3px; 
}